
body {
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#header {
    height: 80px;
}
#main {
    width: 60%;
    max-width: 800px;
    min-width: 600px;
    margin: 40px auto 0;
}

.fixed-tools {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: 0 10px;
    z-index: 100;
}

.action-btn {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.save-wplink {
    float: left;
    background: url(../img/save-blue.png);
    background-size: cover;
}

.save-wplink:hover {
    background-image: url(../img/save-red.png);
}

.refresh-wp {
    float: right;
    background: url(../img/refresh-blue.png);
    background-size: cover;
}

.refresh-wp:hover {
    background-image: url(../img/refresh-red.png);
}

.cmdbox {
    width: 100%;
    height: 80px;
    border: 4px solid rgba(0, 0, 0, 0.8);
    font-size: 26px;
    background-color: rgba(255,255,255, .5);
}

.cmdbox:focus {
    outline: 0;
}

.ec-itemList {
    width: 60%;
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
    overflow-y: scroll;

    height: 400px;

    background: rgba(0, 0, 0, .4);
    border: 4px solid rgba(0, 0, 0, 0.8);
    border-top: 0;
}

.ec-itemList .ec-item {
    padding: 3px 8px;
    height: 40px;
    position: relative;
    border-bottom: 1px solid rgba(209, 209, 209, .3);
}

.ec-itemList .ec-item:hover {
    background: rgba(209, 209, 209, .7);
}

.ec-item .ec-item-icon {
    width: 25px;
    height: 25px;
    margin: 3px 8px 0 0;
    float: left;
}

.ec-item .ec-item-title {
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 100;
}

.ec-item .ec-item-desc {
    display: block;
    color: #c5cfe2;
    overflow: hidden;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 100;
}

.ec-item:hover .ec-item-title {
    color: #333;
}

.ec-item:hover .ec-item-desc {
    color: #666;
}

.ec-itemList .ec-item-select {
    background: rgba(209, 209, 209, .7);
}

.ec-itemList .ec-item-select .ec-item-title {
    color: #333;
}

.ec-itemList .ec-item-select .ec-item-desc {
    color: #666;
}

.ec-item .ec-item-warn {
    color: red;
}

.ec-item .ec-item-tip{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    font-size: 14px;
    line-height: 34px;
    color:#fff;
}

.ec-item .ec-item-tip .icon {
    font-size: 16px;
    position: relative;
    top: 3px;
}
/* scrollbar styles */
::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

::-webkit-scrollbar-button:start,
::-webkit-scrollbar-button:end {
    display: none;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
    width: 50px;

    -webkit-border-radius: 8px;
    outline: 1px solid #ccc;
    background-color: #CCCCCC;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}
