
[v-cloak] {
    display: none;
}

body,
p,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
}

.steward {
    width: 1200px;
    margin: 40px auto 0;
}

.steward .el-tabs__header {
    margin-bottom: 0;
}

.plugin-searchbar {
    padding: 10px;
}

.plugin-list,
.plugin-editor {
    height: 600px;
    overflow: scroll;
}

.bg-black {
    background: #303030;
}

.plugin-item {
    cursor: pointer;
    padding: 3px 8px;
    height: 40px;
    position: relative;
}

.plugin-icon {
    width: 20px;
    height: 20px;
    float: left;
}

.plugin-name {
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 100;
}

/* editor */
.plugin-editor-header {
    display: flex;
    background: #212121;
    height: 40px;
    padding: 12px;
}

.plugin-editor-icon {
    width: 40px;
    height: 40px;
}

.plugin-editor-text {
    flex: 1;
    margin-left: 10px;
}

.plugin-editor-name {
    font-size: 14px;
    line-height: 1.6;
    color: #fff;
}

.plugin-editor-title {
    font-size: 12px;
    color: #999;
}

.changelog {
    padding: 5px 12px;
    height: 400px;
    border: 1px solid #ededed;
    overflow: scroll;
}

.text-panel {
    width: 740px;
    margin: 20px auto 0;
    color: rgba(51, 51, 51, 0.87);
    font-size: 16px;
    line-height: 1.6;
    border: 1px solid #ededed;
    padding: 15px 30px 25px;
}

.text-panel a {
    border-bottom: 1px solid #20a0ff;
    color: #20a0ff;
}

.text-panel .notice {
    color: #ff3f80;
}

.text-panel .wx-pay {
    box-shadow: 0 0 10px #555;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}
