body {
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    background: rgb(242, 242, 242);
    height: 450px;
}
img {
    vertical-align: top;
}
a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#main {
    width: 500px;
    margin: 0 auto;
}
.cmdbox {
    width: 500px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, 0.6);
    font-size: 22px;
}

.cmdbox:focus {
    outline: 0;
}

.cmdbox-drop {
}

.ec-itemList {
    width: 500px;
    margin: 0 auto;
    overflow-y: scroll;

    height: 400px;

    background: rgb(235, 235, 235);
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-top: 0;
}

.ec-itemList .ec-item {
    padding: 2px 8px;
    height: 40px;
    position: relative;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.ec-itemList .ec-item:hover {
    background: rgb(255, 255, 255, .5);
}

.ec-item .ec-item-icon {
    width: 25px;
    height: 25px;
    margin: 4px 8px 0 0;
    float: left;
}

.ec-item .ec-item-title {
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
    overflow: hidden;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ec-item .ec-item-desc{
    display: block;
    color: rgb(166, 166, 166);
    overflow: hidden;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ec-itemList .ec-item-select {
    background: rgb(209, 209, 209);
}

.ec-item .ec-item-warn {
    color: red;
}

.ec-item .ec-item-tip{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    font-size: 14px;
    line-height: 34px;
    color: rgb(92, 13, 123);
}

.ec-item .ec-item-tip .icon {
    font-size: 16px;
    position: relative;
    top: 3px;
}
/* scrollbar styles */
::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

::-webkit-scrollbar-button:start,
::-webkit-scrollbar-button:end {
    display: none;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
    width: 50px;

    outline: 1px solid #ccc;
    background-color: #CCCCCC;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}
