
body {
  box-sizing: border-box!important;
}
.json-editor {
  width: 400px;
  .je-object__title, .je-object__controls {
    display: none!important;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-size: initial!important;
}