@import '../../scss/main.scss';
@import '../../scss/themes/popup/classical.scss';

[v-cloak] {
    display: none;
}

body,
p,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
}

.topbar {
    display: none;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;

    .links {
        display: flex;
        height: 40px;
        align-items: center;
        float: right;

        a {
            display: block;
            margin: 0 10px;
            width: 30px;
            height: 30px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.steward {
    margin: 0 auto;

    .el-tab-pane {
        padding: 15px;
    }

    .main {
        box-sizing: border-box;
        margin: 0;
    
        * {
            box-sizing: inherit;
        }
    }

    .el-tabs__header,
    .el-collapse-item__header,
    .plugin-item,
    .el-form-item__label,
    .appearance-item {
        user-select: none;
    }
}

.steward .el-tabs__header {
    margin-bottom: 0;
}

.general-panel {
    .el-form-item {
        margin-bottom: 5px;
    }
}

.shortcuts-config {
    .el-input {
        width: 100px;
    }
}

.plugin-searchbar,
.button-bar {
    padding: 10px;
}

.plugin-list,
.plugin-editor {
    height: 600px;
    overflow-y: auto;
}

.bg-black {
    background: #333;
}

.plugin-item {
    cursor: pointer;
    padding: 3px 8px;
    height: 40px;
    position: relative;

    &.plugin-disabled {
        color: #999;
    }

    &.is-selected {
        color: #20a0ff;
    }
}

.workflow-item {
    display: flex;
    align-items: center;
}

.plugin-icon {
    width: 20px;
    height: 20px;
    float: left;
}

.plugin-name {
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
        color: #20a0ff;
    }
}

.plugin-doc {
    margin-left: 12px;
    color: #20a0ff;

    &:hover {
        text-decoration: underline;
    }
}

.plugin-editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* editor */
.plugin-editor-header {
    display: flex;
    background: #333;
    height: 40px;
    padding: 12px;
}

.plugin-editor-config {
    flex: 1;
    background: rgb(230, 230, 230);
}

.plugin-editor-icon {
    width: 40px;
    height: 40px;
}

.plugin-editor-text {
    flex: 1;
    margin-left: 10px;
}

.plugin-editor-name {
    font-size: 14px;
    line-height: 1.6;
    color: #fff;
}

.plugin-editor-title {
    font-size: 12px;
    color: #999;
}

.icon-batch {
    width: 17px;
    vertical-align: -3px;
}

.appearance-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3px 8px;
    height: 40px;
    position: relative;
}

.appearance-item.is-active {
    background: #20a0ff;
    color: #fff;
}

.appearance-item-icon {
    width: 20px;
    height: 20px;
    float: left;
}

.appearance-item-name {
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 100;
}

.appearance-item-panel {
    height: 600px;
}

.themes-container {
    display: flex;
    height: 600px;
    padding: 15px;
    box-sizing: border-box;
}

.themes-info {
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.theme-editor {
    flex: 1;
    margin-left: 15px;
    background: #333;
    color: #fff;
    height: 570px;
    overflow: auto;

    .el-form {
        margin: 12px;
    }

    .el-form-item {
        margin-bottom: 6px;
    }

    .el-form-item__label {
        color: #fff;
        text-align: left;
    }

    .el-input {
        width: 180px;
    }

    .theme-field-type {
        margin-top: 15px;
        margin-bottom: 10px;
        padding-bottom: 2px;
        border-bottom: 2px solid #fff;
        font-size: 20px;
    }

    .color-indicator {
        border: 1px solid #000;
    }
}

.changelog {
    padding: 5px 12px;
    height: 400px;
    border: 1px solid #ededed;
    overflow: scroll;
}

.text-panel {
    width: 740px;
    margin: 20px auto 0;
    color: rgba(51, 51, 51, 0.87);
    font-size: 16px;
    line-height: 1.6;
    border: 1px solid #ededed;
    padding: 15px 30px 25px;
}

.text-panel a {
    border-bottom: 1px solid #20a0ff;
    color: #20a0ff;
}

.text-panel .notice,
.text-panel em {
    color: #ff3f80;
    font-style: normal;
}

.text-panel .qrcode {
    box-shadow: 0 0 10px #555;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.text-panel .qrcodes {
    display: flex;
    justify-content: space-between;
}

.wallpaper-box {
    position: relative;
    width: 25%;
    padding: 5px;
    float: left;
    box-sizing: border-box;
}

.wallpaper-add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    height: 135px;
    cursor: pointer;

    img {
        display: block;
        width: 50px;
        height: 50px;
    }
}

.wallpaper-box .wallpaper-img {
    display: block;
    position: relative;
    width: 100%;
    height: 135px;
    transition: transform .3s ease-out;
}

.wallpaper-box .selected-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.wallpaper-box img:hover {
    transform: scale(1.1);
    z-index: 100;
}

.wallpaper-box .icon {
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
}

.wallpaper-box:hover .icon {
    display: block;
}

.wallpaper-box:hover .icon img {
    width: 100%;
    height: 100%;
    display: block;
}

.wallpaper-box .delete-wp {
    top: 10px;
    right: 10px;
    z-index: 101;
}

.wallpaper-box .download-wp {
    top: 45%;
    left: 45%;
}

.paths-container {
    .el-row {
        margin-top: 6px;
    }
}

.split {
    margin: 15px 0;
    border-bottom: 1px dotted #d1dbe5;
}

.network-icon {
    display: block;
    width: 25px;
    height: 25px;
}