<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Steward Preference</title>
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <div id="app" class="steward" v-cloak>
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="General" name="general">
                <el-form style="margin: 20px 0; min-height: 150px;" ref="general" :model="config.general">
                    <el-form-item :label="i18nTexts.general.cacheLastCmd">
                        <el-switch
                          v-model="config.general.cacheLastCmd"
                          on-color="#20a0ff">
                        </el-switch>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click.native.prevent="handleGeneralSubmit">Save</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="Plugins" name="plugins">
                <el-row>
                    <el-col :span="6">
                        <div class="grid-content plugin-list">
                            <div class="plugin-searchbar">
                                <el-input placeholder="Search" icon="search" v-model="pluginSearchText">
                                </el-input>
                            </div>
                            <div class="plugin-item" v-for="plugin in filteredPlugins" @click="handlePluginClick(plugin)">
                                <img :src="plugin.icon" class="plugin-icon" alt="">
                                <span class="plugin-name">{{plugin.name}}</span>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="18">
                        <div class="grid-content bg-black plugin-editor">
                            <div v-if="currentPlugin" class="plugin-editor-container">
                                <div class="plugin-editor-header">
                                    <img :src="currentPlugin.icon" class="plugin-editor-icon" alt="">
                                    <div class="plugin-editor-text">
                                        <p class="plugin-editor-name">{{currentPlugin.name}} - v{{currentPlugin.version}}</p>
                                        <p class="plugin-editor-title">{{currentPlugin.title}}</p>
                                    </div>
                                </div>
                                <div class="plugin-editor-config">
                                    <el-form style="margin: 20px;padding: 12px; background: #e6e6e6; min-height: 150px;" ref="form" :model="config.plugins" label-width="200px">
                                        <el-form-item :label="command.title" v-for="(command, index) in currentPlugin.commands" :key="index">
                                            <input type="text" :disabled="!config.plugins[currentPlugin.name].commands[index].editable" v-model="config.plugins[currentPlugin.name].commands[index].key">
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button type="primary" @click.native.prevent="handlePluginsSubmit">Save</el-button>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="Appearance" name="appearance">
                <el-row>
                    <el-col :span="4">
                        <div class="appearance-items">
                            <div v-for="apprItem in appearanceItems" @click="handleApprItemClick(apprItem)"
                                :class="['appearance-item', {'is-active': curApprItem ? curApprItem.name === apprItem.name : false}]">
                                <img :src="apprItem.icon" class="appearance-item-icon" alt="">
                                <span class="appearance-item-name">{{apprItem.name}}</span>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="20">
                        <div class="appearance-item-panel bg-black">
                            <template v-if="curApprItem">
                                <div class="wallpapers-container" v-if="curApprItem.name === 'wallpapers'">
                                    <div v-for="wallpaper in wallpapers" @click="chooseWallpaper(wallpaper)"
                                        :class="['wallpaper-box', {'is-selected': selectedWallpaper === wallpaper}]">
                                        <img class="wallpaper-img" :src="wallpaper" alt="">
                                        <img v-if="selectedWallpaper === wallpaper" class="selected-icon" src="/img/selected-icon.png" alt="">
                                        <img src="/img/delete-icon.png" alt="" class="delete-wp icon" @click.stop="confirmDeleteWallpaper(wallpaper)">
                                        <a href="#" :download="wallpaper" class="download-wp icon" @click.stop="handleWallpaperDownload">
                                            <img src="/img/download-icon.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="themes-container" v-if="curApprItem.name === 'themes'">
                                    <div class="themes-info">
                                        TODO
                                    </div>
                                </div>
                            </template>
                        </div>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="Advanced" name="advanced">
                TODO
            </el-tab-pane>
            <el-tab-pane label="Help" name="help">
                <div class="text-panel">
                    请尽量及时升级最新版浏览器，避免有些功能使用不了。<br>
                    如果使用过程中有建议/问题可以去<a href="https://github.com/solobat/Steward/issues">这里</a>，或者加入QQ群<span class="notice">575397892</span>反馈。
                </div>
            </el-tab-pane>
            <el-tab-pane label="Update" name="update">
                <div class="text-panel">
                    <h2>Steward v{{config.version}}</h2>
                    <section class="changelog">
                        <template v-for="update in changelog">
                            <h3 v-html="update.version"></h3>
                            <p v-html="update.detail"></p>
                        </template>
                    </section>
                    <a :href="'http://owsjc7iz3.bkt.clouddn.com/Steward-' + config.version + '.crx'">download crx</a>
                </div>
            </el-tab-pane>
            <el-tab-pane label="About" name="about">
                <div class="about-wrap text-panel">
                    <a href="https://chrome.google.com/webstore/detail/dnkhdiodfglfckibnfcjbgddcgjgkacd">Steward</a>
                    最早开发于<span class="notice">2014</span>年底，初衷是作为一个Chrome扩展爱好者，居然找不到一个方便管理它们的方式。于是花了一个晚上写了Steward的第一版。
                    虽然没怎么推广，用户也不是很多，但一有空闲就会维护，毕竟Steward几乎已经成为我使用频率最高的扩展了。<br>
                    <br>
                    如果觉得它还不错，希望可以给我<a href="https://chrome.google.com/webstore/detail/dnkhdiodfglfckibnfcjbgddcgjgkacd/reviews?hl=zh-CN">点赞评论</a>或通过下方的二维码 <span class="notice">请我喝杯咖啡</span>，这是对Steward的最大鼓励。
                    虽然一直在安静地开发，但也希望通过大家的口口相传，让更多的人知道
                    <a href="https://chrome.google.com/webstore/detail/dnkhdiodfglfckibnfcjbgddcgjgkacd">Steward</a>的存在。
                    <img src="http://owsjc7iz3.bkt.clouddn.com/IMG_2180.jpg" alt="" class="wx-pay">
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>
</body>

</html>
