<!doctype html>
<html lang="zh-CN" data-page="popup">

<head>
    <meta charset="UTF-8">
    <title>popup</title>
    <script src="../../scripts/popup.js"></script>
</head>

<body>
    <div id="app">
    </div>
    <!-- built files will be auto injected -->
</body>

</html>
