<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Steward Preference</title>
    <script src="js/common/ga.js"></script>
    <link rel="stylesheet" href="css/element-ui.css">
    <link rel="stylesheet" href="css/options.css">
</head>

<body>
    <div id="app" class="steward" v-cloak>
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="General" name="general">
                TODO
            </el-tab-pane>
            <el-tab-pane label="Plugins" name="plugins">
                <el-row>
                    <el-col :span="6">
                        <div class="grid-content plugin-list">
                            <div class="plugin-searchbar">
                                <el-input placeholder="Search" icon="search" v-model="pluginSearchText">
                                </el-input>
                            </div>
                            <div class="plugin-item" v-for="plugin in plugins" @click="handlePluginClick(plugin)">
                                <img :src="plugin.icon" class="plugin-icon" alt="">
                                <span class="plugin-name">{{plugin.name}}</span>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="18">
                        <div class="grid-content bg-black plugin-editor">
                            <div v-if="currentPlugin" class="plugin-editor-container">
                                <div class="plugin-editor-header">
                                    <img :src="currentPlugin.icon" class="plugin-editor-icon" alt="">
                                    <div class="plugin-editor-text">
                                        <p class="plugin-editor-name">{{currentPlugin.name}}</p>
                                        <p class="plugin-editor-title">{{currentPlugin.title}}</p>
                                    </div>
                                </div>
                                <div class="plugin-editor-config">
                                    <el-form style="margin: 20px;padding: 12px; background: #e6e6e6; min-height: 150px;" ref="form" :model="pluginsData" label-width="200px">
                                        <el-form-item :label="command.title" v-for="(command, index) in currentPlugin.commands" :key="index">
                                            <input type="text" :disabled="!pluginsData[currentPlugin.name].commands[index].editable" v-model="pluginsData[currentPlugin.name].commands[index].key">
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button type="primary" @click.native.prevent="handlePluginsSubmit">Save</el-button>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="Appearance" name="appearance">
                TODO
            </el-tab-pane>
            <el-tab-pane label="Advanced" name="advanced">
                TODO
            </el-tab-pane>
            <el-tab-pane label="Help" name="help">
                <div class="text-panel">
                    如果使用过程中有建议/问题可以去<a href="https://github.com/solobat/Steward/issues">这里</a>，或者加入QQ群<span class="notice">575397892</span>反馈。
                </div>
            </el-tab-pane>
            <el-tab-pane label="Update" name="update">
                <div class="text-panel">
                    <h2>Steward v2.5.4</h2>
                    <section class="changelog">
                        <h3>v2.5.4</h3>
                        <p>
                            添加帮助文档/更新日志/相关
                        </p>
                        <h3>v2.5.3</h3>
                        <p>紧急修复Bug</p>
                        <h3>v2.5.2</h3>
                        <p>添加topsites插件，使用<span class="notice">site</span>关键字，查找你的最常访问网站</p>
                        <h3>v2.5</h3>
                        <p>添加插件管理页，可更改各插件的<span class="notice">keyword</span></p>
                    </section>
                    <a :href="'http://owsjc7iz3.bkt.clouddn.com/Steward-' + version + '.crx'">最新版离线安装包</a>
                </div>
            </el-tab-pane>
            <el-tab-pane label="About" name="about">
                <div class="about-wrap text-panel">
                    <a href="https://chrome.google.com/webstore/detail/steward-%E6%89%A9%E5%B1%95%E5%BA%94%E7%94%A8%E6%A0%87%E7%AD%BE%E5%8E%86%E5%8F%B2%E8%AE%B0%E5%BD%95alfred/dnkhdiodfglfckibnfcjbgddcgjgkacd?hl=zh-CN">Steward</a>
                    最早开发于<span class="notice">2014</span>年底，初衷是作为一个Chrome扩展爱好者，居然找不到一个方便管理它们的方式。于是花了一个晚上写了Steward的第一版。
                    虽然没怎么推广，用户也不是很多，但一有空闲就会维护，毕竟Steward几乎已经成为我使用频率最高的扩展了。<br>
                    <br>
                    如果觉得它还不错，希望可以给我<a href="https://chrome.google.com/webstore/detail/steward-%E6%89%A9%E5%B1%95%E5%BA%94%E7%94%A8%E6%A0%87%E7%AD%BE%E5%8E%86%E5%8F%B2%E8%AE%B0%E5%BD%95alfred/dnkhdiodfglfckibnfcjbgddcgjgkacd/reviews?hl=zh-CN">点赞评论</a>或通过下方的二维码 <span class="notice">请我喝杯咖啡</span>，这是对Steward的最大鼓励。
                    虽然一直在安静地开发，但也希望通过大家的口口相传，让更多的人知道
                    <a href="https://chrome.google.com/webstore/detail/steward-%E6%89%A9%E5%B1%95%E5%BA%94%E7%94%A8%E6%A0%87%E7%AD%BE%E5%8E%86%E5%8F%B2%E8%AE%B0%E5%BD%95alfred/dnkhdiodfglfckibnfcjbgddcgjgkacd?hl=zh-CN">Steward</a>的存在。
                    <img src="http://owsjc7iz3.bkt.clouddn.com/IMG_2180.jpg" alt="" class="wx-pay">
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>
    <script src="js/lib/vue.js"></script>
    <script src="js/lib/element-ui.js"></script>
    <script src="js/lib/sea.js"></script>
    <script src="js/options/options_conf.js"></script>
</body>

</html>
