
.steward-main {
    position: fixed;
    z-index: 2222222222;
    top: 60px;
    left: 50%;
    width: 530px;
    margin-left: -255px;

    &.newtab {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-left: 0;
    }
}