:root {
    --app-background-color: rgba(0, 0, 0, .4);
    --newtab-background-color: #000;
    --app-width-size: 560px;
    --search-input-height: 64px;
    --search-input-value-text-color: #fafafa;
    --search-input-value-text-size: 26px;
    --search-results-height: 432px;
    --search-results-scrollbar-width: 2px;
    --search-results-scrollbar-color: rgba(0, 0, 0, 0.5);
    --selected-suggestion-background-color: rgba(0, 0, 0, 0.2);
    --selected-suggestion-title-text-color: #fff;
    --selected-suggestion-subtitle-text-color: #ccc;
    --highlighted-suggestion-text-color: #fabb2d;
    --suggestion-border-color: rgba(209, 209, 209, .1);
    --suggestion-height: 48px;
    --suggestion-title-text-color: #eee;
    --suggestion-title-text-size: 16px;
    --suggestion-title-text-weight: 300;
    --suggestion-subtitle-text-color: #bbb;
    --suggestion-subtitle-text-size: 12px;
    --suggestion-subtitle-text-style: "PingFangSC-Light";
}

body {
    background: var(--app-newtab-background-image) center center / cover no-repeat fixed;
}

.use-filter {
    .main {
        position: relative;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: .2;
            background-color: #fff;
            content: '';
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            filter: blur(5px) brightness(110%);
            background-image: var(--app-newtab-background-image);
            content: '';
        }

        .cmdbox {
            position: relative;
            z-index: 2;
        }
        
        #list-wrap {
            position: relative;
            z-index: 2;
        }
    }
}