@import '../../scss/main.scss';
@import '../../scss/themes/newtab/classical.scss';

:root {
    --app-width-size: 560px;
    --search-input-height: 64px;
    --search-results-height: 432px;
}

.box-invisible {
    .main {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    user-select: none;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
}

[data-page="newtab"] {
    body {
        display: none;
    }
}

#header {
    height: 80px;
}

#main {
    margin-top: 40px;
}

.size-large {
    #main {
        width: 60%;

        .cmdbox {
            border: 4px solid rgba(0, 0, 0, 0.8);
            height: 80px;
        }

        .ec-itemList {
            border: 4px solid rgba(0, 0, 0, 0.8);
            border-top: 0;
        }
    }
}

.fixed-tools {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: 0 10px;
    z-index: 100;
}

.action-btn {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.save-wplink {
    float: left;
    background: url(../../img/save-blue.png);
    background-size: cover;
}

.save-wplink:hover {
    background-image: url(../../img/save-red.png);
}

.refresh-wp {
    float: right;
    background: url(../../img/refresh-blue.png);
    background-size: cover;
}

.refresh-wp:hover {
    background-image: url(../../img/refresh-red.png);
}

.cmdbox {
    &.autohide {
        color: transparent;

        &:focus {
            color: #000;
        }
    }

    &.has-icon {
        background: url(../../img/icon.png) no-repeat 97% 50%;
        background-size: 40px 40px;
        padding: 0 60px 0 8px;
    }
}